<div
    class="relative flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md"
>
    <a class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl" href="#">
        <img
            class="object-cover"
            src="/public/GastronomiÌa-Japonesa.jpeg"
            alt="product image"
        />
    </a>
    <div class="mt-4 px-5 pb-5">
        <a href="#">
            <h5 class="text-xl tracking-tight text-slate-900">
                Nike Air MX Super 2500 - Red
            </h5>
        </a>
        <div class="mt-2 mb-5 flex items-center justify-between">
            <p>
                <span class="text-3xl font-bold text-slate-900">$20.000</span>
            </p>
        </div>
    </div>
</div>

