<section class="py-10 bg-gray-200 text-center">
  <h2 class="text-3xl pb-8 font-bold fade-in">Galeria</h2>
  <div
    class="max-w-[1200px] w-[90%] mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 fade-in"
  >
    <img
      src="/karaokes-en-Tokio.jpg"
      alt="Sushi"
      class="object-cover h-64 w-full rounded-lg shadow-lg transform hover:scale-105 hover:rotate-2 transition duration-500 ease-in-out"
    />
    <img
      src="/siete-mejores-restaurantes-madrid-comer-sushi-segun-dos-chefs-japoneses_98.webp"
      alt="Chef preparando sushi"
      class="object-cover h-64 w-full rounded-lg shadow-lg transform hover:scale-105 hover:rotate-2 transition duration-500 ease-in-out"
    />
    <img
      src="/comida-japonesa.jpg"
      alt="Interior del restaurante"
      class="object-cover h-64 w-full rounded-lg shadow-lg transform hover:scale-105 hover:rotate-2 transition duration-500 ease-in-out"
    />
    <img
      src="/Fideos_ramen_en_sopa_con_sabor_a_salsa_de_soja.webp"
      alt="Interior del restaurante"
      class="object-cover h-64 w-full rounded-lg shadow-lg transform hover:scale-105 hover:rotate-2 transition duration-500 ease-in-out"
    />
    <img
      src="/dangos_postres_japoneses_japon.jpg"
      alt="Interior del restaurante"
      class="object-cover h-64 w-full rounded-lg shadow-lg transform hover:scale-105 hover:rotate-2 transition duration-500 ease-in-out"
    />

    <img
      src="/Yokaloka-1024x683.jpg"
      alt="Interior del restaurante"
      class="object-cover h-64 w-full rounded-lg shadow-lg transform hover:scale-105 hover:rotate-2 transition duration-500 ease-in-out"
    />
  </div>
</section>
