<section class="flex h-screen pt-16 max-w-[1200px] w-[90%] mx-auto fade-in">
  <div
    class="md:w-1/2 w-full h-full flex flex-col items-center justify-center overflow-hidden px-2"
  >
    <div class="flex flex-col gap-6 max-w-lg text-center md:text-start">
      <h1 class="text-6xl font-bold text-main">
        La mejor comida Japonesa en Cali
      </h1>
      <p class="text-xl font-semibold">
        Acércate a disfrutar de una oferta gastronómica diferente y autentica
      </p>

      <div class="w-full flex justify-center md:justify-start">
        <a
          href="/menu"
          class="bg-main hover:bg-red-500 text-center shadow-xl shadow-black-500/50 w-52 text-white font-bold px-14 py-4 rounded-md"
        >
          Ver menu
        </a>
      </div>
      <div
        class="flex items-center justify-center text-center py-4 gap-2 md:justify-start"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-map-pin"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ff2825"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
          <path
            d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
          ></path>
        </svg>
        <p class="text-xl">Carrera 39 #49-56</p>
      </div>
    </div>
  </div>
  <div class="w-1/2 justify-center items-center hidden md:flex">
    <img
      src="/ramen-Photoroom.png"
      alt="Imagen de Ramen"
      class="object-cover w-[500px] h-[500px] animate-float"
    />
  </div>
</section>
