---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kioto-bar">
    <section class="pt-16 h-screen flex flex-col items-center justify-center">
        <div class="text-center px-4">
            <h1 class="text-main font-bold text-8xl">404</h1>
            <p class="text-xl">!Opsss¡ Lo sentimos pagina no encontrada</p>
        </div>
        <div class="h-1/2">
            <img src="/public/404 error with person looking for-pana.png"  class="h-full" alt="">
        </div>
    </section>
</Layout>
