---
import Layout from "../layouts/Layout.astro";
import Ramen from "../components/sections/menu/ramen.astro";
import Sushi from "../components/sections/menu/sushi.astro";
import Drinks from "../components/sections/menu/drinks.astro";

import Desserts from "../components/sections/menu/desserts.astro";
---

<Layout title="Menu">
  <section class="pt-16 max-w-[1200px] w-[90%] mx-auto">
    <div
      class="grid grid-cols-2 place-items-center md:flex py-10 justify-center items-center gap-4 [&>button]:font-bold [&>button]:shadow-gray-400 md:w-full"
    >
      <button
        id="ramen-btn"
        class="w-28 px-4 py-2 border text-main border-main hover:bg-main hover:text-white"
        >Ramen
      </button>
      <button
        id="sushi-btn"
        class="w-28 px-4 py-2 border text-main border-main hover:bg-main hover:text-white"
        >Sushi
      </button>
      <button
        id="drinks-btn"
        class="w-28 px-4 py-2 border text-main border-main hover:bg-main hover:text-white"
        >Bebidas
      </button>
      <button
        id="desserts-btn"
        class="w-28 px-4 py-2 border text-main border-main hover:bg-main hover:text-white"
        >Postres
      </button>
    </div>

    <!-- Secciones de los platos -->
    <div class="flex justify-center gap-4 fade-in mb-7">
      <div
        id="ramen-menu"
        class="menu-section justify-center items-center visible grid grid-cols-1 md:grid-cols-4"
      >
        <Ramen />
      </div>
      <div
        id="sushi-menu"
        class="menu-section invisible hidden grid grid-cols-1 md:grid-cols-4"
      >
        <Sushi />
      </div>
      <div
        id="drinks-menu"
        class="menu-section invisible hidden grid grid-cols-1 md:grid-cols-4"
      >
        <Drinks />
      </div>
      <div
        id="desserts-menu"
        class="menu-section invisible hidden grid grid-cols-1 md:grid-cols-4"
      >
        <Desserts />
      </div>
    </div>
  </section>
  <script src="/src/js/menu.js"></script>
</Layout>
